

.headers{
  display: flex;
}


.header .tt{
  position: relative;
  left: 8.2%;
}


.header .date{
  position: relative;
  left: 9.1%;
}

.body .distance{
  position: relative;
  left: 8.1%;
}

.body .date1{
  position: relative;
  left: 9%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-left: 10px;
  margin-top: 20px;
  margin: auto;
  padding-top: 20px;
 
  
}

.search-bar input{
  border: 1px solid black;
  color: black;
}

tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
  position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}


.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.dateDiv{
  display: flex;
}

.dateDiv div{
  flex-direction: row;
}

 .carName{
  position: absolute;
  left: 64%;
}

.cardId{
  position: absolute;
  left: 15.5%;

}

section{
  width: 99%;
  margin: auto;
}

article{
  margin-top: 3%
}



.expanded div{
  display: flex;
  flex-direction: row;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  font-family: "Montserrat", sans-serif;
  font-family: "BPG Arial Caps", sans-serif;
}



