
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.headers{
  display: flex;
}

.header{
  position: relative;
}


.header .tt{
  position: relative;
  left: 5.9%;
}


.header .date{
  position: relative;
  left: 7.1%;
}

.body .distance{
  position: relative;
  left: 5.9%;
}

.body .date1{
  position: relative;
  left: 7.2%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-left: 10px;
  margin-top: 20px;
  margin: auto;
  padding-top: 30px;
  position: relative;
}

.search-bar fa-icon{
position: absolute;
left: 90%;
top: 58%;

} 

.search-bar input{
  border: 1px solid rgb(20, 20, 150);
  color: black;
}

tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
  position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}


.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.dateDiv{
  display: flex;
}

.dateDiv div{
  flex-direction: row;
}

 .carName{
  position: absolute;
  left: 64%;
}

.cardId{
  position: absolute;
  left: 15.5%;

}

section{
  width: 99%;
  margin: auto;
}

article{
  margin-top: 3%
}

.expanded div{
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  font-family: "Montserrat", sans-serif;
  font-family: "BPG Arial Caps", sans-serif;
  font-style: normal;
  font-size: 16px;
}

th{
  font-weight: 600;
}


.table td
{
  font-weight: normal;
 

}

.distance-span{
  color: aliceblue;
  background-color: #FF0000;
  box-sizing: border-box;
  border-radius: 3px;
  border: 5px solid #FF0000;
}


.non-distance-span{
  color: black;
  background-color: #FFF;
  box-sizing: border-box;
  border-radius: 3px;
  border: 5px solid #FFF;
}




@media screen and (max-width: 1200px) {
  .search-bar fa-icon{
    position: absolute;
    left: 86%;
    top: 58%;
    } 
}
@media screen and (max-width: 900px) {
  .search-bar fa-icon{
    position: absolute;
    left: 82%;
    top: 58%;
    } 
}
@media screen and (max-width: 700px) {

  .search-bar{
    width: 100px;
  }
  
  .search-bar fa-icon{
    position: absolute;
    left: 76%;
    top: 58%;
    } 
}